* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width : 670px;
}

.keyboard {
  display        : flex;
  justify-content: space-between;
  flex-wrap      : wrap;
  user-select    : none;
}

.button {
  margin          : 5px 0;
  cursor          : pointer;
  padding         : 5px;
  width           : 40px;
  height          : 40px;
  line-height     : 30px;
  background-color: rgb(58, 66, 78);
  text-align      : center;
  color           : #ffffff;
  border-radius   : 5px;
}

.Backspace {
  width: 96px;
}

.Tab,
.Delete {
  width: 69px;
}

.CapsLock,
.Enter {
  width: 91px;
}

.ShiftLeft {
  width: 142px;
}

.Space {
  width: 318px;
}

.ControlLeft, .ControlRight {
  width: 60px;
}

.button.active {
  background-color: rgb(85, 113, 238);
}